@use "./variables" as vars;
@use "./mixins" as mixins;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    color: inherit;
  }

  body {
    min-height: 200vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    background-color: var(--bg);
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;

    @include mixins.breakpoint-down(lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    // Responsive max-widths matching Tailwind's container breakpoints
    @include mixins.breakpoint-up(sm) {
      max-width: 640px;
    }

    @include mixins.breakpoint-up(md) {
      max-width: 768px;
    }

    @include mixins.breakpoint-up(lg) {
      max-width: 1024px;
    }

    @include mixins.breakpoint-up(xl) {
      max-width: 1280px;
    }
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

