.button {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    font-size: 14px;

    &-primary {
        background-color: var(--text);
        color: var(--bg);
        padding: 0.75rem 1.25rem;
        border-radius: var(--border-radius);

        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--text-muted);
        }
    }
}